@keyframes cloudMove {
  0% {
    background-position: 1% 1%;
  }
  100% {
    background-position: 1% 100%;
  }
}
@media (min-width: 1536px) {
  .css-663og4,
  .tarun {
    padding: 15px;
    padding-top: 12px;
  }
}

@media (min-width: 900px) {
  .css-663og4,
  .tarun {
    padding: 15px;
    padding-top: 12px;
  }
}

.css-g8rluf-MuiTableCell-root {
  padding: 10px;
}
